.bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-dark-bg);
    width: 1920px;
    height: 85px;
  }
  .all-rights-reserved {
    position: absolute;
    top: 4px;
    left: 0;
  }
  .all-rights-reserved,
  .made-with-heart {
    line-height: 150%;
    font-weight: 300;
  }
  .themewagon {
    color: var(--theme-primary);
  }
  .made-with-heart-container {
    position: absolute;
    top: 0;
    left: 1073px;
    text-align: right;
  }
  .copyright,
  .texts {
    position: absolute;
    top: 28px;
    left: 300px;
    width: 1321px;
    height: 28px;
  }
  .copyright {
    top: 542px;
    left: 0;
    width: 1920px;
    height: 85px;
  }
  .bg1,
  .logo-icon {
    position: absolute;
    top: 0;
  }
  .bg1 {
    left: 0;
    background-color: var(--theme-secondary);
    width: 1920px;
    height: 542px;
  }
  .logo-icon {
    left: 4px;
    width: 313px;
    height: 75px;
  }
  .were-a-worldwide {
    margin: 0;
  }
  .were-a-worldwide-container {
    position: absolute;
    top: 96px;
    left: 0;
    line-height: 150%;
    display: inline-block;
    width: 560px;
    height: 142px;
  }
  .logomoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 238px;
  }
  .about,
  .eduprix1 {
    position: relative;
    line-height: 22px;
  }
  .about {
    line-height: 150%;
  }
  .about-parent,
  .eduprix-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .about-parent {
    gap: 5px 0;
    font-size: var(--bolds-h4-bold-size);
    color: var(--theme-primary);
  }
  .eduprix-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 98.7px;
    gap: 15px 0;
  }
  .open-eduprix1 {
    position: relative;
    color: var(--white);
  }
  .eduprix-container,
  .eduprix-group {
    position: absolute;
    top: 3px;
    left: 199px;
    width: 105.6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px 0;
  }
  .eduprix-container {
    left: 405px;
    width: 130.3px;
  }
  .links {
    position: absolute;
    top: 28px;
    left: 784px;
    width: 535.3px;
    height: 180px;
    font-size: var(--bolds-h3-bold-size);
    color: var(--gray-200);
  }
  .contents {
    position: absolute;
    top: 164.6px;
    left: 300px;
    width: 1319.3px;
    height: 238px;
  }
  .footer1 {
    top: 0;
    height: 542px;
    color: var(--grays-100);
  }
  .bg2,
  .footer,
  .footer1 {
    position: absolute;
    left: 0;
    width: 1920px;
  }
  .footer {
    top: 7436px;
    height: 627px;
    color: var(--gray-200);
  }
  .bg2 {
    top: 0;
    background-color: var(--theme-soft-colors-primary-soft);
    height: 799px;
  }
  .get-regular-updates-container {
    width: 325px;
    position: relative;
    line-height: 100%;
    display: inline-block;
  }
  .logo-icon1 {
    width: 313px;
    position: relative;
    height: 75px;
  }
  .texts1 {
    position: absolute;
    top: 0;
    left: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px 0;
  }
  .subscribe {
    position: relative;
  }
  .input-field,
  .subscribe-button {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 424px;
    height: 60px;
  }
  .subscribe-button {
    top: 113.4px;
    background-color: var(--theme-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 31px;
    color: var(--white);
  }
  .input-field {
    top: 37.4px;
    border: 1px solid var(--theme-secondary);
  }
  .subscribe-to-newsletter {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--bolds-h3-bold-size);
    line-height: 110%;
  }
  .email {
    position: absolute;
    top: 55px;
    left: 23px;
    line-height: 150%;
    font-weight: 300;
  }
  .contents1,
  .input {
    position: absolute;
    width: 424px;
  }
  .input {
    top: 242.6px;
    left: 0;
    height: 173.4px;
    font-size: var(--bolds-h4-bold-size);
    color: var(--theme-secondary-light);
  }
  .contents1 {
    top: 32px;
    left: 472px;
    height: 416px;
  }
  .illustration-icon {
    position: absolute;
    height: 100%;
    width: 51.34%;
    top: 0;
    right: 48.66%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .contenys {
    position: absolute;
    top: 146px;
    left: 500px;
    width: 896px;
    height: 488.4px;
  }
  .email-subscription {
    position: absolute;
    top: 6637.6px;
    left: 0;
    width: 1920px;
    height: 799px;
    font-size: var(--bolds-h2-bold-size);
    color: var(--theme-secondary);
  }
  .recent-blogpost {
    position: absolute;
    top: 0;
    left: 263px;
    font-size: var(--bolds-h1-bold-size);
    letter-spacing: 0.05em;
    line-height: 100%;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 2px #003294;
  }
  .child {
    width: 258px;
    position: relative;
    height: 258px;
    object-fit: cover;
  }
  .art-wrapper,
  .frame-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper {
    background-color: var(--theme-soft-colors-primary-soft);
    padding: var(--padding-11xs) var(--padding-base);
  }
  .nov-2021 {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    color: var(--grays-500);
  }
  .frame-parent {
    width: 258px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .item {
    width: 258px;
    position: relative;
    border-top: 1px solid var(--grays-100);
    box-sizing: border-box;
    height: 1px;
  }
  .full-article,
  .kirchner-was-not-container {
    position: relative;
    line-height: 110%;
  }
  .full-article {
    font-size: var(--bolds-h4-bold-size);
    line-height: 150%;
    color: var(--theme-secondary-light);
  }
  .kirchner-was-not-there-to-comp-parent {
    align-self: stretch;
    height: 101px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 17px 0;
    font-size: var(--bolds-h3-bold-size);
    color: var(--color-darkslategray);
  }
  .div,
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7 {
    position: absolute;
    top: 150px;
    left: 0;
    background-color: var(--white);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-8xl);
    gap: 11px 0;
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7 {
    left: 336px;
  }
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7 {
    left: 672px;
  }
  .div3,
  .div4,
  .div5,
  .div6,
  .div7 {
    left: 1008px;
  }
  .div4,
  .div5,
  .div6,
  .div7 {
    top: 648px;
    left: 0;
  }
  .div5,
  .div6,
  .div7 {
    left: 336px;
  }
  .div6,
  .div7 {
    left: 672px;
  }
  .div7 {
    left: 1008px;
  }
  .recent-blog {
    position: absolute;
    top: 5335.6px;
    left: 300px;
    width: 1320px;
    height: 1122px;
    color: var(--theme-primary);
  }
  .see-all {
    position: absolute;
    top: 551px;
    left: 1083px;
    line-height: 110%;
    color: var(--theme-secondary-light);
  }
  .carousel-icon {
    position: absolute;
    top: 556px;
    left: 66px;
    width: 112px;
    height: 11px;
  }
  .backbutton-icon,
  .forward-button-icon {
    position: absolute;
    height: 4.66%;
    width: 3.42%;
    top: 45.42%;
    right: 0;
    bottom: 49.91%;
    left: 96.58%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .backbutton-icon {
    top: 45.6%;
    right: 96.58%;
    bottom: 49.74%;
    left: 0;
    object-fit: contain;
  }
  .meet-our-instructors {
    position: absolute;
    top: 0;
    left: 101px;
    font-size: var(--bolds-h1-bold-size);
    letter-spacing: 0.05em;
    line-height: 100%;
    color: transparent;
    -webkit-text-stroke: 2px #003294;
  }
  .child12 {
    width: 250px;
    position: relative;
    height: 251px;
    object-fit: cover;
  }
  .professor-witchcraft-mit {
    width: 312px;
    position: relative;
    font-size: var(--bolds-h4-bold-size);
    line-height: 150%;
    color: var(--body-text);
    text-align: center;
    display: inline-block;
    height: 49px;
    flex-shrink: 0;
  }
  .div10,
  .div11,
  .div8,
  .div9,
  .john-s-sergent-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .john-s-sergent-parent {
    width: 247px;
    gap: 12px 0;
  }
  .div10,
  .div11,
  .div8,
  .div9 {
    position: absolute;
    top: 150px;
    left: 912px;
    gap: 20px 0;
  }
  .div10,
  .div11,
  .div9 {
    left: 630px;
  }
  .div10,
  .div11 {
    left: 348px;
  }
  .div11 {
    left: 66px;
  }
  .instructors {
    position: absolute;
    top: 4576.6px;
    left: 346px;
    width: 1228px;
    height: 579px;
    font-size: var(--bolds-h3-bold-size);
    color: var(--black);
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-soft-colors-primary-soft);
    width: 1921px;
    height: 689px;
  }
  .illustration-icon1 {
    width: 187.9px;
    position: relative;
    height: 212px;
  }
  .div13 {
    position: relative;
    line-height: 110%;
    font-weight: 900;
  }
  .top-courses {
    width: 274px;
    position: relative;
    line-height: 100%;
    color: var(--theme-secondary-light);
    text-align: center;
    display: inline-block;
    height: 94px;
    flex-shrink: 0;
  }
  .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px 0;
  }
  .take-courses-from {
    width: 274px;
    position: relative;
    font-size: var(--bolds-h4-bold-size);
    line-height: 150%;
    color: var(--body-text);
    text-align: center;
    display: inline-block;
    height: 80px;
    flex-shrink: 0;
  }
  .div12,
  .texts2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px 0;
  }
  .div12 {
    gap: 45px 0;
  }
  .illustration2-icon {
    width: 236px;
    position: relative;
    height: 212.1px;
    object-fit: contain;
  }
  .div15,
  .happy-learners {
    position: relative;
    display: inline-block;
  }
  .div15 {
    width: 169px;
    line-height: 110%;
    font-weight: 900;
  }
  .happy-learners {
    width: 207px;
    line-height: 100%;
    color: var(--theme-secondary-light);
    text-align: center;
    height: 94px;
    flex-shrink: 0;
  }
  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px 0;
  }
  .learners-from-all {
    width: 190px;
    position: relative;
    font-size: var(--bolds-h4-bold-size);
    line-height: 150%;
    color: var(--body-text);
    text-align: center;
    display: inline-block;
    height: 80px;
    flex-shrink: 0;
  }
  .texts3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px 0;
  }
  .illustration-3-icon {
    width: 222.1px;
    position: relative;
    height: 237.8px;
  }
  .eminent-instructors,
  .learn-your-favourite {
    width: 256px;
    position: relative;
    line-height: 100%;
    color: var(--theme-secondary-light);
    text-align: center;
    display: inline-block;
    height: 94px;
    flex-shrink: 0;
  }
  .learn-your-favourite {
    width: 255px;
    font-size: var(--bolds-h4-bold-size);
    line-height: 150%;
    color: var(--body-text);
    height: 80px;
  }
  .texts4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px 0;
  }
  .contents2,
  .div16 {
    display: flex;
    align-items: center;
  }
  .div16 {
    height: 509px;
    flex-direction: column;
    justify-content: center;
    gap: 20px 0;
  }
  .contents2 {
    position: absolute;
    top: 88.4px;
    left: 300px;
    width: 1320px;
    height: 512px;
    flex-direction: row;
    justify-content: space-between;
  }
  .ff-counter {
    position: absolute;
    top: 3707.6px;
    left: -1px;
    width: 1921px;
    height: 689px;
    font-size: var(--bolds-h2-bold-size);
    color: var(--theme-secondary);
  }
  .carousel-icon1 {
    position: absolute;
    top: 525px;
    left: 1121px;
    width: 112px;
    height: 11px;
  }
  .greycircle,
  .testimonial-child {
    position: absolute;
    top: 151px;
    left: 1px;
    background-color: var(--theme-secondary-light);
    width: 60px;
    height: 102px;
  }
  .greycircle {
    top: 0;
    left: 0;
    border-radius: 53px;
    background-color: var(--disabled-grey);
    width: 70px;
    height: 70px;
  }
  .vector-icon {
    position: absolute;
    height: 38.57%;
    width: 60%;
    top: 31.43%;
    right: 20%;
    bottom: 30%;
    left: 20%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
  }
  .back-arrow-button,
  .forward-arrow-button {
    position: absolute;
    top: 151px;
    left: 1068px;
    width: 70px;
    height: 70px;
  }
  .forward-arrow-button {
    left: 1163px;
    object-fit: contain;
  }
  .students-review {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.05em;
    line-height: 100%;
    -webkit-text-stroke: 2px #003294;
  }
  .student-photo-icon {
    position: absolute;
    top: 151px;
    left: 61px;
    width: 321px;
    height: 385px;
    object-fit: cover;
  }
  .eduprix-is-an,
  .emillie-jonas {
    position: absolute;
    top: 189px;
    left: 3px;
    line-height: 150%;
    display: inline-block;
    width: 689px;
    height: 139px;
  }
  .emillie-jonas {
    top: 0;
    left: 0;
    font-size: var(--bolds-h2-bold-size);
    line-height: 100%;
    color: var(--black);
    width: 353px;
    height: 109px;
  }
  .england {
    position: absolute;
    top: 112px;
    left: 2px;
    font-size: var(--bolds-h3-bold-size);
    font-weight: 300;
    color: var(--theme-dark-bg);
  }
  .texts5 {
    position: absolute;
    top: 176px;
    left: 445px;
    width: 692px;
    height: 328px;
    font-size: var(--bolds-h4-bold-size);
    color: var(--body-text);
  }
  .quote-icon {
    position: absolute;
    height: 53.68%;
    width: 28.3%;
    top: 28.17%;
    right: 18.17%;
    bottom: 18.15%;
    left: 53.53%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.05;
  }
  .testimonial {
    position: absolute;
    top: 2991.6px;
    left: 300px;
    width: 1233px;
    height: 536px;
    font-size: var(--bolds-h1-bold-size);
    color: transparent;
  }
  .background-blue {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-secondary);
    width: 1921px;
    height: 754px;
  }
  .back-arrow-icon,
  .forward-arrow-icon {
    position: absolute;
    height: 4.54%;
    width: 2.84%;
    top: 27.73%;
    right: 10.68%;
    bottom: 67.73%;
    left: 86.48%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
  }
  .back-arrow-icon {
    right: 24.81%;
    left: 72.35%;
  }
  .explore-eduprix {
    position: absolute;
    top: 85px;
    left: 0;
    font-size: var(--bolds-h1-bold-size);
    letter-spacing: 0.05em;
    line-height: 100%;
    -webkit-text-stroke: 2px #00b3ff;
  }
  .carousel-icon2 {
    position: absolute;
    top: 173px;
    left: 1138px;
    width: 112px;
    height: 11px;
  }
  .faded-cicles-icon {
    position: absolute;
    top: 0;
    left: 1121px;
    width: 358px;
    height: 358px;
  }
  .see-all1 {
    position: absolute;
    top: 567px;
    left: 1243px;
    line-height: 110%;
    color: var(--theme-primary);
  }
  .group-icon {
    width: 53.4px;
    position: relative;
    height: 53.4px;
  }
  .data-science {
    width: 182px;
    position: relative;
    line-height: 22px;
    display: inline-block;
  }
  .courses1 {
    position: relative;
    font-size: var(--bolds-h4-bold-size);
    line-height: 150%;
    color: var(--theme-primary);
  }
  .data-science-parent,
  .div18 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px 0;
  }
  .div18 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-secondary-light);
    width: 312px;
    height: 136px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-11xl) var(--padding-31xl) var(--padding-11xl)
      var(--padding-41xl);
    box-sizing: border-box;
    gap: 0 20px;
  }
  .frame-icon {
    width: 55.3px;
    position: relative;
    height: 55.3px;
  }
  .courses2 {
    position: relative;
    font-size: var(--bolds-h4-bold-size);
    line-height: 150%;
    color: var(--theme-secondary);
  }
  .div19 {
    position: absolute;
    top: 0;
    left: 336px;
    background-color: var(--theme-primary);
    width: 312px;
    height: 136px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-11xl) var(--padding-31xl) var(--padding-11xl)
      var(--padding-41xl);
    box-sizing: border-box;
    gap: 0 20px;
  }
  .child16 {
    width: 62.1px;
    position: relative;
    height: 57.6px;
  }
  .div20 {
    position: absolute;
    top: 0;
    left: 672px;
    background-color: var(--theme-secondary-light);
    width: 312px;
    height: 136px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-11xl) var(--padding-31xl) var(--padding-11xl)
      var(--padding-41xl);
    box-sizing: border-box;
    gap: 0 20px;
  }
  .labusiness-time-icon {
    width: 61px;
    position: relative;
    height: 61px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .div21 {
    position: absolute;
    top: 0;
    left: 1009px;
    background-color: var(--theme-secondary-light);
    width: 312px;
    height: 136px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-11xl) var(--padding-31xl) var(--padding-11xl)
      var(--padding-41xl);
    box-sizing: border-box;
    gap: 0 20px;
  }
  .child17 {
    width: 50.8px;
    position: relative;
    height: 50.8px;
  }
  .div22,
  .div23 {
    position: absolute;
    top: 160px;
    left: 0;
    background-color: var(--theme-secondary-light);
    width: 312px;
    height: 136px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-11xl) var(--padding-31xl) var(--padding-11xl)
      var(--padding-41xl);
    box-sizing: border-box;
    gap: 0 20px;
  }
  .div23 {
    left: 336px;
  }
  .group-icon1 {
    width: 48px;
    position: relative;
    height: 48px;
  }
  .div24 {
    position: absolute;
    top: 160px;
    left: 672px;
    background-color: var(--theme-secondary-light);
    width: 312px;
    height: 136px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-11xl) var(--padding-31xl) var(--padding-11xl)
      var(--padding-41xl);
    box-sizing: border-box;
    gap: 0 20px;
  }
  .child18 {
    width: 54px;
    position: relative;
    height: 55px;
  }
  .cards,
  .div25 {
    position: absolute;
  }
  .div25 {
    top: 160px;
    left: 1008px;
    background-color: var(--theme-secondary-light);
    width: 312px;
    height: 136px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-11xl) var(--padding-31xl) var(--padding-11xl)
      var(--padding-41xl);
    box-sizing: border-box;
    gap: 0 20px;
  }
  .cards {
    top: 234px;
    left: 2px;
    width: 1321px;
    height: 296px;
    color: var(--white);
  }
  .contents3 {
    position: absolute;
    height: 78.91%;
    width: 76.99%;
    top: 4.64%;
    right: 7.5%;
    bottom: 16.45%;
    left: 15.51%;
  }
  .explore,
  .top-courses1 {
    position: absolute;
    color: transparent;
  }
  .explore {
    top: 2057.6px;
    left: -1px;
    width: 1921px;
    height: 754px;
    font-size: var(--bolds-h3-bold-size);
  }
  .top-courses1 {
    top: 0;
    left: 0;
    font-size: var(--bolds-h1-bold-size);
    letter-spacing: 0.05em;
    line-height: 100%;
    -webkit-text-stroke: 2px #003294;
  }
  .thumbnail-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 312px;
    height: 215.1px;
    object-fit: cover;
  }
  .download-1-icon {
    width: 53px;
    position: relative;
    height: 53px;
    object-fit: cover;
  }
  .logo,
  .logoprice,
  .pricetag {
    display: flex;
    flex-direction: row;
  }
  .logo {
    background-color: var(--white);
    border: 1px solid var(--theme-secondary-light);
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs);
  }
  .logoprice,
  .pricetag {
    justify-content: center;
  }
  .pricetag {
    width: 68px;
    background-color: var(--info);
    align-items: center;
    padding: var(--padding-8xs) var(--padding-3xs);
    box-sizing: border-box;
  }
  .logoprice {
    position: absolute;
    top: 182.3px;
    left: 0.1px;
    width: 135.1px;
    height: 66.7px;
    align-items: flex-end;
  }
  .thumbnail-parent {
    align-self: stretch;
    flex: 1;
    position: relative;
  }
  .american-art-movements {
    width: 228px;
    position: relative;
    line-height: 110%;
    font-weight: 500;
    display: inline-block;
  }
  .the-meseum-of {
    position: relative;
    font-size: var(--bolds-h4-bold-size);
    line-height: 150%;
    font-weight: 300;
    color: var(--body-text);
  }
  .text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px 0;
    font-size: var(--bolds-h3-bold-size);
    color: var(--theme-dark-bg);
  }
  .div26 {
    position: absolute;
    top: 149px;
    left: 0;
    width: 312px;
  }
  .div26,
  .div27,
  .div28 {
    background-color: var(--white);
    height: 354px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px 0;
  }
  .div27 {
    position: absolute;
    top: 149px;
    left: 336px;
    width: 312px;
  }
  .div28 {
    top: 561px;
    left: 0;
  }
  .div28,
  .div29,
  .group-child1 {
    position: absolute;
    width: 312px;
  }
  .div29 {
    top: 562px;
    left: 336px;
    background-color: var(--white);
    height: 354px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px 0;
  }
  .group-child1 {
    top: 0;
    left: 0;
    height: 220.3px;
    object-fit: cover;
  }
  .frame-parent9 {
    position: absolute;
    top: 186.7px;
    left: 0.1px;
    width: 135.1px;
    height: 68.3px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
  .american-art-movements3 {
    width: 228px;
    position: relative;
    text-decoration: underline;
    line-height: 100%;
    font-weight: 500;
    display: inline-block;
  }
  .american-art-movements-parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px 0;
    font-size: var(--bolds-h3-bold-size);
    color: var(--theme-secondary-light);
  }
  .div30,
  .div31,
  .div32,
  .div33 {
    position: absolute;
    top: 149px;
    left: 672px;
    background-color: var(--white);
    width: 312px;
    height: 354px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px 0;
  }
  .div31,
  .div32,
  .div33 {
    top: 562px;
  }
  .div32,
  .div33 {
    top: 149px;
    left: 1008px;
  }
  .div33 {
    top: 562px;
  }
  .see-all2 {
    position: absolute;
    top: 49px;
    left: 1244px;
    font-size: var(--bolds-h3-bold-size);
    line-height: 110%;
    color: var(--theme-secondary-light);
  }
  .left-arrow-icon {
    width: 42px;
    position: relative;
    height: 27px;
    object-fit: contain;
  }
  .b {
    width: 8px;
    position: relative;
    display: inline-block;
    height: 15px;
    flex-shrink: 0;
  }
  .highlighted-page {
    background-color: var(--theme-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) var(--padding-3xs) var(--padding-3xs);
    color: var(--theme-secondary);
  }
  .carousel {
    position: absolute;
    top: 5px;
    left: 1027px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 18px;
    color: var(--disabled-grey);
  }
  .courses-section,
  .landing-bg-icon {
    position: absolute;
    top: 961.6px;
    left: 300px;
    width: 1320px;
    height: 916px;
  }
  .landing-bg-icon {
    top: 0;
    left: 0;
    width: 1920px;
    height: 584.4px;
  }
  .heroimage-icon {
    top: 45.3px;
    left: 47px;
    width: 1320px;
    height: 464px;
    object-fit: cover;
  }
  .b6,
  .heroimage-icon,
  .next-hero {
    position: absolute;
  }
  .b6 {
    top: 251.8px;
    left: 1528px;
    letter-spacing: 0.05em;
    line-height: 100%;
    color: var(--theme-soft-colors-primary-50);
  }
  .next-hero {
    top: 45.3px;
    left: 1495px;
    background-color: var(--theme-soft-colors-25-tartiary);
    width: 172px;
    height: 464px;
  }
  .carousel-icon3 {
    position: absolute;
    top: 570.3px;
    left: 47px;
    width: 112px;
    height: 11px;
  }
  .subheadline-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-secondary-light);
    width: 1120px;
    height: 72px;
  }
  .arrow-icon {
    position: absolute;
    height: 4.13%;
    width: 37.5%;
    top: 2.05%;
    right: -1377.36%;
    bottom: 93.82%;
    left: 1439.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    transform: rotate(90deg);
  }
  .learn-more {
    position: absolute;
    top: 27px;
    left: 920px;
  }
  .people-are-learning {
    line-height: 110%;
  }
  .people-are-learning-container {
    position: absolute;
    top: 21px;
    left: 36px;
    font-size: var(--bolds-h3-bold-size);
    color: var(--theme-primary);
    display: inline-block;
    width: 629px;
  }
  .subheadline {
    position: absolute;
    top: 581.3px;
    left: 247px;
    width: 72px;
    height: 1120px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    font-size: var(--bolds-h4-bold-size);
  }
  .empower,
  .we {
    line-height: 100%;
    font-family: var(--bolds-h3-bold);
  }
  .empower {
    line-height: 110%;
    font-weight: 900;
  }
  .to-learn-what,
  .you {
    line-height: 100%;
  }
  .to-learn-what {
    margin: 0;
  }
  .headline,
  .hero-child {
    position: absolute;
    top: 293px;
  }
  .headline {
    left: 115px;
    font-size: var(--bolds-h2-bold-size);
    display: inline-block;
    width: 568px;
    height: 109px;
  }
  .hero-child {
    left: 0;
    background-color: var(--theme-secondary);
    width: 96px;
    height: 102px;
  }
  .vector-icon1 {
    width: 30px;
    position: relative;
    height: 30px;
  }
  .social-icons {
    position: absolute;
    top: 0;
    left: 1259px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 9px;
  }
  .hero,
  .landing {
    position: absolute;
    top: 240px;
    left: 253px;
    width: 1667px;
    height: 581.3px;
  }
  .landing {
    text-decoration: none;
    top: 0;
    left: 0;
    width: 1920px;
    height: 821.3px;
    font-size: var(--bolds-h1-bold-size);
    color: inherit;
  }
  .logo-icon2 {
    width: 141px;
    position: relative;
    height: 34px;
  }
  .logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .bars {
    position: relative;
    line-height: 150%;
    opacity: 0.65;
  }
  .courese-dropdown1,
  .linksbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .courese-dropdown1 {
    color: var(--theme-primary);
  }
  .linksbuttons {
    gap: 0 27px;
  }
  .logolinks,
  .search-anything {
    position: absolute;
    top: 0;
    left: 0;
  }
  .logolinks {
    width: 1320px;
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .search-anything {
    line-height: 22px;
    display: inline-block;
    width: 140px;
  }
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 62.86px;
    background-color: var(--white);
    box-shadow: 0 0 31.43px rgba(0, 0, 0, 0.1);
    border: 0.6px solid var(--theme-primary);
    box-sizing: border-box;
    width: 343.8px;
    height: 44px;
  }
  .ex-modern-art {
    position: absolute;
    top: 15.1px;
    left: 17px;
    line-height: 150%;
    display: inline-block;
    width: 69.1px;
    height: 15.1px;
  }
  .search-bar-when-clicked-child {
    position: absolute;
    top: 0;
    left: 299.8px;
    width: 44px;
    height: 44px;
  }
  .search-bar-when-clicked,
  .search-bar-when-clicked-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 343.8px;
    height: 44px;
  }
  .search-bar-when-clicked-wrapper {
    left: 151px;
    text-align: left;
    font-size: 10.1px;
    color: var(--disabled-grey);
  }
  .searchbar {
    position: absolute;
    top: 2px;
    left: 337px;
    width: 494.8px;
    height: 44px;
    text-align: right;
    font-size: var(--bolds-h3-bold-size);
    color: var(--theme-soft-colors-primary-50);
    font-family: var(--bolds-h3-bold);
  }
  .navbar {
    position: absolute;
    top: 17px;
    left: 300px;
    width: 1320px;
    height: 47px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-font-awesome-5-free);
  }
  .eduprix {
    width: 100%;
    position: relative;
    background-color: var(--white);
    height: 8063px;
    overflow: hidden;
    text-align: left;
    font-size: var(--bolds-h4-bold-size);
    color: var(--white);
    font-family: var(--bolds-h3-bold);
  }
  