.eduprix-1-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Use viewport width */
    height: 100vh; /* Use viewport height */
    object-fit: cover;
  }
  .thumnail {
    width: 100%;
    position: relative;
    background-color: var(--white);
    height: 100vh; /* Use viewport height */
    overflow: hidden;
  }
  