/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* light cream color */
    color: #333;
    font-weight: lighter; /* light bold */
}

header {
<<<<<<< HEAD
    background-color: #d2b48c; /* light brown */
    color: #fff;
=======
    background-color: #d4f004;
    color: rgb(249, 6, 6);
>>>>>>> 162b87178c974a94c778a33ddde555ad15370b1c
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #add8e6; /* light blue */
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

h1, h2 {
    margin-top: 0;
    font-weight: lighter; /* light bold */
}

/* Dashboard styles */
#tutor-dashboard, #student-dashboard {
    margin-bottom: 20px;
}

/* Form styles */
form {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
